POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=postgresuser

DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=ir%m+ixp!v^ab-ls^z5f5%x@wws#l3#n&**b*@t1d@q26i5x^y
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=
DJANGO_SECURE_SSL_REDIRECT=False
